<div id="users">
  <% @users.each do |user| %>
  	<% @v = 1 %>
  	<% Fellowship.all.each do |i| %>
  		<% if user.id == i.fellow_id && current_user.id == i.user_id%>
  			<% @v = 0 %>
  		<% end %> 
  	<% end %>

    <div id="user">

      <% if (user.email != current_user.email && @v == 1) %>
        <%= user.email %>
        <%= link_to "Add Fellow", fellowships_path(:fellow_id => user.id), :method => :post %>
      <% elsif user.email != current_user.email%>
  		<%= user.email %>
      <% end %>

    </div>
  <% end %>
</div>