<div id="users">
  <% @users.each do |user| %>
  	<% @v = 1 %>
  	<% Fellowship.all.each do |i| %>
  		<% if user.id == i.fellow_id && current_user.id == i.user_id%>
  			<% @v = 0 %>
  		<% end %> 
  	<% end %>

    <div id="user">

      <% if (user.id != current_user.id && @v == 1) %>
        <small class="remove"><%= link_to "Add Fellow", fellowships_path(:fellow_id => user.id), :method => :post %></small>
        <%= link_to user.name, :controller => "users", :action => "others_profile", :id => user.id %>
      <% elsif user.id != current_user.id%>
      <% end %>

    </div>
  <% end %>
</div>