
<code><div id="welcome">
	Welcome to FellowShip Of The #BLoG !<br />
	Facebook has Friendship, Twitter has Follows.<br /><br />

	We have <big id="biggy"> The Fellowship :D</big><br />
	Add fellows, to follow them from your own Fellowship Feeds!<br /><br />

	My First project on Learning Ruby On Rails. A social blog.<br/ >
	You may sign-up for a new account or log-in with Facebook.
	Enjoy.

</div></code>

<p>Please leave some suggestions in the comment box, Cheers.</p>

<div class="fb-comments" data-href="http://the-blog.herokuapp.com" data-width="470" data-num-posts="2" data-colorscheme="dark"></div>

<div class="fb-like" data-href="http://the-blog.herokuapp.com" data-send="true" data-width="450" data-show-faces="true" data-font="lucida grande" data-colorscheme="dark"></div>

<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>