/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*
body {
	background-color: black;
	text-align: center;
	color: lime;
}

a {
	color: yellow;
}

#user_nav {
	text-align: right;
}

#header {
	background-color: darkgrey;
	font-size: 22pt;
}

#main {
	height: 280pt;
	width: 400pt;
	font-size: 12pt;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word;
}

/* Footer zone 

#footer {
}

*/
#display_posts {
	background-color: red;
	color: white;
}

		/*** The Essential Code ***/

		body {
			margin: 0;
			padding-left: 200px;    /* LC fullwidth */
			padding-right: 190px;   /* RC fullwidth + CC padding */
			min-width: 240px;       /* LC fullwidth + CC padding */
		}

		#header, #footer {
			margin-left: -200px;    /* LC fullwidth */
			margin-right: -190px;   /* RC fullwidth + CC padding */
		}

		.column {
			position: relative;
			float: left;
		}

		#center {
			padding: 0 20px;
			width: 100%;
		}

		#left {
			width: 180px;           /* LC width */
			padding: 0 10px;        /* LC padding */
			right: 240px;           /* LC fullwidth + CC padding */
			margin-left: -100%;
		}

		#right {
			width: 130px;           /* RC width */
			padding: 0 10px;        /* RC padding */
			margin-right: -100%;
		}

		#footer {
			clear: both;

			background-color: pink;
			color: black;
			font-size: 18pt;
		}

		/*** IE Fix ***/
		* html #left {
			left: 150px;            /* RC fullwidth */
		}

		/*** Just for Looks ***/

		body {
			background: #FFF;
			background-color: black;
			text-align: center;
			color: lime;
			word-wrap: break-word;
		}

		#header, #footer {
			font-size: large;
			text-align: center;
			padding: 0.3em 0;
			background: #999;
		}

		#left {
			background: navy;
		}

		#center {
			background: darkgrey;
			color: black;
		}

		#right {
			background: brown;
		}

		.column {
			padding-top: 1em;
			text-align: justify;
		}

		a {
			color: lightyellow;
		}

/* Ends Footer zone */