		/*** The Essential Code ***/

		body {
			margin: 0;
			padding-left: 200px;    /* LC fullwidth */
			padding-right: 190px;   /* RC fullwidth + CC padding */
			min-width: 240px;       /* LC fullwidth + CC padding */
		}

		#header, #footer {
			margin-left: -200px;    /* LC fullwidth */
			margin-right: -190px;   /* RC fullwidth + CC padding */
		}

		.column {
			position: relative;
			float: left;
			border-radius: 10px;
		}

		#center {
			padding: 0 20px;
			width: 100%;
		}

		#left {
			width: 180px;           /* LC width */
			padding: 0 10px;        /* LC padding */
			right: 240px;           /* LC fullwidth + CC padding */
			margin-left: -100%;
		}

		#right {
			width: 130px;           /* RC width */
			padding: 0 10px;        /* RC padding */
			margin-right: -100%;
		}

		#footer {
			clear: both;

			background-color: pink;
			color: black;
			font-size: 18pt;
		}

		/*** IE Fix ***/
		* html #left {
			left: 150px;            /* RC fullwidth */
		}

		/*** Just for Looks ***/

		body {
			background: #FFF;
			background-color: black;
			background-image: url('smless.jpg');
			text-align: center;
			color: #08000F;
			word-wrap: break-word;
		}

		#header {
			font-size: 14pt;
			text-align: center;
			padding: 0.3em 0;
			background: black;
			color: white;
			opacity: 0.7;
			padding-bottom: 1em;
			padding-top: 1em;
		}

		#footer {
			font-size: 14pt;
			text-align: center;
			padding: 0.3em 0;
			background: #000020;
			color: white;
		}
		#display_posts {
			background-color: darkgreen;
			color: white;
		}


		#left {
			background: white;
			background-image: url('crm.jpg');
			opacity: 0.8;
			padding-bottom: 1em;
			padding-top: 1em;
		}

		#center {
			background: darkgrey;
			background-image: url('smless4.jpg');
			color: lightyellow;
			opacity: 0.9;
			padding-bottom: 1em;
			padding-top: 1em;
		}

		#right {
			background: black;
			color: red;
			text-decoration: bold;
			opacity: 0.8;
			padding-bottom: 1em;
			padding-top: 1em;
		}

		.column {
			padding-top: 1em;
			text-align: justify;
		}

		a {
			color: #15F5F5;
		}

		hr {
			color: white;
		}